<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Hacker Journey</title>
  {% endif %}

  <link rel="stylesheet" href="/static/prism.css">
  <link rel="stylesheet" href="/static/site.css">
</head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Hacker Journey</a>
    </div>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <div class="container">
      <p class="social-links">Follow me on
        <a href="https://github.com/madebyaman">GitHub</a>
        and
        <a href="https://twitter.com/imamanthakur">Twitter</a>
      </p>
    </div>
  </footer>
  <script src="/static/prism.js"></script>
</body>
</html>
