---
layout: layout.njk
---
<article class="single-post post-container">
  <h1>{{ title }}</h1>
  <div class="time">
    <span>Posted on </span><time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  </div>
  {{ content | safe }}
</article>
